@{
    var total = 0;
    var totalMessage = "";
    if (IsPost)
    {

        // Retrieve the numbers that the user entered.
        var num1 = Request["text1"];
        var num2 = Request["text2"];
        var calc = Request["calc"];

        // Convert the entered strings into integers numbers
        if (calc == "+")
        {
            total = num1.AsInt() + num2.AsInt();
        }
        if (calc == "-")
        {
            total = num1.AsInt() - num2.AsInt();
        }
        if (calc == "*")
        {
            total = num1.AsInt() * num2.AsInt();
        }
        if (calc == "/")
        {
            total = num1.AsInt()/num2.AsInt();
        }

        totalMessage = "Total = " + total;

    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Numbers</title>
</head>
<body>
    <p>Enter two whole numbers and then choose the <strong>operation</strong>.</p>
    <form action="" method="post">
        <p>
            <label for="text1">First Number:</label>
            <input type="text" name="text1" />
        </p>
        <p>
            <label for="text2">Second Number:</label>
            <input type="text" name="text2" />
        </p>
        <p><input type="radio" name="calc" value="+" /> Add</p>
        <p><input type="radio" name="calc" value="-" /> Subtract</p>
        <p><input type="radio" name="calc" value="*" /> Multiply</p>
        <p><input type="radio" name="calc" value="/" /> Divide</p>
        <p><input type="submit" value="=" /></p>



    </form>

    <p>@totalMessage</p>

</body>
</html>